
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f5f7;
  margin: 50px auto;
}

img   {
  width: 100%;
  max-width: 600px;
  margin: 15px;

  border-radius: 10px;
  box-shadow: 1px 1px 10px #c7c8c9;
}

img:hover {
  transform: scale(1.3);
  transition: transform 1.3s;
}
